.my-pagination::ng-deep .page-item{
  font-size: 12px;
  margin-right:2px;
  padding: 1px;
  outline: none !important;
}

.my-pagination::ng-deep .page-item .page-link:focus{
  outline: none !important;
  box-shadow: none !important;

}

.my-pagination::ng-deep .page-item.active .page-link {
  z-index: 1;
  color: #FFFFFF;
  background-color:#504c4c !important;
  border-color: #504c4c;
  font-family: 'Roboto', sans-serif;
  letter-spacing:  0.03em; 
  border-radius: 3px;
  /* margin-left: 2px;
  margin-right: 2px; */
  
  
}

/* Pagination Border Color */
.my-pagination::ng-deep .page-link {
  z-index: 1;
  color: #504c4c;
  background-color:rgb(255, 255, 255) !important;
  border-color: #504c4c;
  padding: 4px 9px;
  border-radius: 3px;

}

/* Last Link in Pagination */
.my-pagination::ng-deep .page-item:last-child .page-link {
  border-left: #8a252c !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important ;
  background-color:#ffffff !important;
  outline: none !important;
}

/* First Link in Pagination */

.my-pagination::ng-deep .page-item:first-child .page-link {
  
  border: none;
  background-color:#ffffff !important;
}

/* Disabled Link in Pagination */
.my-pagination::ng-deep .page-item.disabled .page-link {
  color: rgba(0, 0, 0, 0.507);
}



.msg{
  color:rgba(0, 0, 0, 0.699);
  font-family: 'Roboto', sans-serif;
  letter-spacing:  0.03em;
}

th{
  text-align: center;
} 


.alert-warning {
  background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
  background-repeat: repeat-x;
  border-color: #c0302d;
  
}



.error{
  color:#585858;
  font-size: 14px;
}

.instructions{
  color:#000000;
  font-size: 12px;
}



#guide_icon {
  position:absolute;
  bottom:20px;
  right:30px;
  width:24px;
  height:24px;
}

@media screen and (max-width: 767px) {
  #guide_icon {
      position:absolute;
      bottom:45px;
      right:10px;
      width:24px;
      height:24px;
  }
}


.datepicker{
  /* height: 54px; */
  border: 1px solid #c0302d;
  padding: 8px 12px;
  box-shadow: none;
  outline: none;
  border-radius: 4px;
}

.datepicker:hover{
  border-color:#000000c9;
}

label {
  padding-top:0;
  padding-bottom:0;
  padding-right: 10px;
  padding-left: 10px;
  pointer-events: none;
  position:absolute;
  left:20px;
  top:0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.5;
  background: rgb(255, 255, 255);
  opacity:1;
  transform: scale(0.75) translateY(-70%) translateX(-14px);
}

input {
  padding:10px;
}

input::placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.26);
}



/* search button (start) */

.search_btn , .search_btn:focus , .search_btn:active ,.search_btn:visited{
  border: none !important;
  background-color:#504c4c;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none;
  cursor: pointer;
  padding: 8px 12px;
  color: rgb(255, 255, 255); 
}

.search_btn:hover {
  background-color:#000000d7;
  color: rgb(255, 255, 255); 
  outline: none !important;
}

/* search button (end) */

::-webkit-file-upload-button {
  background:  #ae2424;
  border: none;
  color:  white;
  outline: none;
  padding: 6px 12px;
}

.mainHeading{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 0.2ch;
}


table{
  font-family: 'Roboto', sans-serif;
}

thead{
    font-size: 12px; 
    
}

tbody{
  font-size: 12px; 
}



tbody tr td{
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;

}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(36, 36, 36, 0.021);
  
}

.add_btn , .add_btn:hover , .add_btn:focus{
  background-color: #8a252c;
  color:white;
  border-radius: 3px;
  cursor: pointer;
  border:none;
  position: absolute;
  margin-top: -15px;
  margin-left:47%;
  font-size: 12px;
  padding:3px 8px;
  font-weight: normal;
  outline: none !important;
}

@media screen and (max-width: 767px) {
  .add_btn{
    
    margin-left:42%;
   
  }
}
