.my-pagination::ng-deep .page-item.active .page-link {
    z-index: 1;
    color: #FFFFFF;
    background-color:#e4150d !important;
    border-color: #e4150d;
    font-family: 'Roboto', sans-serif;
    letter-spacing:  0.03em; 
    
}

/* Pagination Border Color */
.my-pagination::ng-deep .page-link {
    z-index: 1;
    color: #e4150d;
    background-color:ivory !important;
    border-color: #e4150d;
}


.msg{
    color:rgba(0, 0, 0, 0.699);
    font-family: 'Roboto', sans-serif;
    letter-spacing:  0.03em;
}

th{
    text-align: center;
} 