<div class="container-fluid">
    
  <!-- Main Heading (Start) -->
  
  <div class="row" style="justify-content: center;">
      <div class="col text-center">
          <h3 class="mainHeading">BLACKLIST</h3>
      </div>
  </div>

  <!-- Main Heading (End) -->



  <div class="row"  style="justify-content: center;margin-top: 70px;">
      
      <div class="col-8 col-md-3 col-lg-3 form-group text-center">
           
           
           <input class="inputNumber form-control" placeholder="03xxxxxxxxx" autocomplete="off" (input)="onInputChange()" [(ngModel)]="msisdn" type="number" id="msisdn" name="msisdn">
           <label>Enter MSISDN</label>
           <div>
            <p style="position: absolute;left: 0; right: 0; margin-left: auto; margin-right: auto;" class="error">{{singleMsisdnError}}</p>
          </div>
      
      </div>

      <div  class="col-12 col-md-1 col-lg-1 text-center form-group" style="color:#8a252c;padding-top:5px;padding-bottom:15px">
        OR
      </div>

      <div class="col-8 col-md-3 col-lg-3 form-group text-center" >
          <label>Upload CSV File</label>
          <input class="FileInput form-control" #file type="file" [(ngModel)]="myfile" accept=".csv"  (change)="handleFileSelect($event)">
          <ng-container  *ngIf="formatNotSupportedmsg != '' ">
            <p style="position: absolute;left: 0; right: 0; margin-left: auto; margin-right: auto;" class="error"><i class="fas fa-exclamation-triangle"></i>&nbsp;{{formatNotSupportedmsg}}</p>
          </ng-container>
          
          <ng-container  *ngIf="file.value != '' ">
            <div style="position: absolute;left: 0; right: 0; margin-left: auto; margin-right: auto;"  class="col-12 text-center">
            <button  class="RemoveFileBtn" (click)="onFileRemove(file)" style="margin-top: 20px;"><i class="fas fa-times"></i> Remove File</button>
            </div>
          </ng-container>   
      </div>

  </div>


  
    <div class="row" style="margin-top: 70px;">
      <div class="col text-center">
          <button (click)="onClickUnSub()" class="search_btn">BLACKLIST</button>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col text-center">
        <h5 class="instructions"><i style="cursor: pointer;" data-toggle="modal" data-target="#exampleModal" class="fas fa-info-circle"></i> Please read <strong style="cursor: pointer;text-decoration: underline;" data-toggle="modal" data-target="#exampleModal" >Instructions</strong></h5>
      </div>
    </div>



  <div>

  </div>
  


  
  
</div>


<ng-container *ngIf="unsubscribeWarningMessage != '' ">
<div style="margin-top: 10px;" class="text-center">
  <p class="error">{{unsubscribeWarningMessage}}</p>
</div>
</ng-container>


<ng-container  *ngIf="invalidNumbers != '' " >
<div class="container" >
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <a href="#" class="close"  data-dismiss="alert" aria-label="close">&times;</a>
  <h5 class="error">These MSISDN's Wouldn't Get <strong>Blacklisted !</strong> Due To <strong>Incorrect Format</strong></h5>
  <div style="margin-top: 10px;height: 200px; overflow-y:scroll ;" >
  
  
  <ul style="margin-top: 10px;color:#000000;font-size: 12px;"  *ngFor="let number of invalidNumbers;let i=index" >
    <p><strong>{{i+1 }}.&nbsp;</strong>{{number}}</p>
    
  </ul>

    
  </div>
  <h5 class="error">Correct Format: <strong>(03xxxxxxxxx/ 92xxxxxxxxxx/ 3xxxxxxxxx)</strong></h5>
  <h5 class="error">Please Read <strong style="cursor: pointer;text-decoration: underline;" data-toggle="modal" data-target="#exampleModal2" >Instructions</strong> For More Details</h5>
    
  </div>
  
</div>      

</ng-container>




<!-- Modal Full Instructions -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
      
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      Full Instructions
    </div>

    

  </div>
</div>
</div>

<!-- Modal Partial Instructions -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel2">Instructions</h5>
      
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      Partial Instructions
    </div>

    

  </div>
</div>
</div>



