.alert-warning {
    background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
    background-repeat: repeat-x;
    border-color: #c0302d;
    
}

.FileInput{
    border: 1px solid #c0302d;
  padding: 8px 12px;
  box-shadow: none;
  outline: none;
  border-radius: 4px;
    
}

::-webkit-file-upload-button {
    background:  #ae2424;
    border: none;
    color:  white;
    outline: none;
    padding: 0px 7px;
    font-size: 14px
  }

  .inputNumber{
    /* width: 320px; */
    border: 1px solid #c0302d;
    padding: 8px 12px;
    box-shadow: none;
    outline: none;
    border-radius: 4px;
  }

  

  /* search button (start) */

.search_btn , .search_btn:focus , .search_btn:active ,.search_btn:visited{
  border: none !important;
  background-color:#504c4c;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none;
  cursor: pointer;
  padding: 8px 12px;
  color: rgb(255, 255, 255); 
}

.search_btn:hover {
  background-color:#000000d7;
  color: rgb(255, 255, 255); 
  outline: none !important;
}

/* search button (end) */



  
  .error{
    color:#8a252c;
    font-size: 12px;
  }

  .instructions{
    color:#000000;
    font-size: 12px;
  }

  

  .RemoveFileBtn ,RemoveFileBtn:hover{
    border: 1px solid #c0302d;
    color: white;
    background-color: #c0302d ;
    padding: 2px 4px;
    outline: none;

  }





/* Hide Arrows for Input Number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



  label {
    padding-top:0;
    padding-bottom:0;
    padding-right: 10px;
    padding-left: 10px;
    pointer-events: none;
    position:absolute;
    left:20px;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    background: rgb(255, 255, 255);
    opacity:1;
    transform: scale(0.75) translateY(-70%) translateX(-14px);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(158, 65, 65); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(235, 186, 186); 
}