<head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
 </head>
 
 <body>
    <!-- <nav class="navbar  no-margin" >
       
       <div class="navbar-header fixed-brand">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
         <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
         </button>
          
            <a class="navbar-brand" style="width: 250px;text-align: center;font-size: 23px;color: #e0201a;font-family:Verdana, Geneva, Tahoma, sans-serif;" href="#">GN Jazz Portal</a>
          
       </div>
      
    </nav> -->
    <div id="wrapper">
       
       <!-- Sidebar -->
       <div id="sidebar-wrapper" style="overflow-x: hidden;">
          <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="sidebar-brand">
               <a  routerLink=""><span style="margin-left: 6px;">GN</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JAZZ PORTAL</a>
            </li>
            
             <hr style="background-color: rgba(235, 231, 231, 0.233); width: auto;">
             <li>
               <a routerLink="profile" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-user-circle fa-stack-1x myGlyph"></i></span>Username</a>
            </li>
            <hr style="background-color: rgba(235, 231, 231, 0.233); width: auto;">
             
             <li>
                <a routerLink="report" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-clipboard fa-stack-1x myGlyph"></i></span>Report</a>
             </li>

             <li>
                <a routerLink="affiliate" [routerLinkActive]="['isActive']"> <span class="fa-stack fa-lg pull-left"><i class="fas fa-poll fa-stack-1x myGlyph"></i></span>Affiliate Report</a>
             </li>
             <li>
                <a routerLink="blacklist" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-user-alt-slash fa-stack-1x myGlyph"></i></span>Blacklist</a>
             </li>
             <li>
                <a routerLink="ltv" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-file-excel fa-stack-1x myGlyph"></i></span>LTV Report</a>
             </li>
             <li>
                <a routerLink="operatorStats" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-chart-bar fa-stack-1x myGlyph"></i></span>Operator Stats</a>
             </li>
             <li>
                <a routerLink="unsub" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-user-times fa-stack-1x myGlyph"></i></span>Unsubscribe</a>
             </li>
             <li>
                <a routerLink="msisdnlogs" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x myGlyph"></i></span>MSISDN Logs</a>
             </li>
             <hr style="background-color: rgba(235, 231, 231, 0.233); width: auto;">
             <li>
                <a routerLink="" ><span class="fa-stack fa-lg pull-left"><i class="fa fa-power-off fa-stack-1x myGlyph"></i></span>Logout</a>
             </li>
          </ul>
       </div>
       <!-- /#sidebar-wrapper -->
       <!-- Page Content -->
       
       <div id="page-content-wrapper">
         <nav class="navbar  no-margin" >

            <!-- Toogle Icon Mobile View -->
            <button type="button" style="z-index: 99999999999;" class="navbar-toggle collapsed" style="margin-top: -15px;" data-toggle="collapse" id="menu-toggle">
               <span class="fas1 fas fa-bars" aria-hidden="true"></span><span style="margin-left: 10px;" aria-hidden="true">GN</span>
            </button>
          
            
   
            
           <div class="collapse navbar-collapse" style="margin-top:20px;padding:0;padding-left:20px;z-index: 999999999999;" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li class="active">
                  <!-- Toogle Icon Desktop View -->
                  <button type="button"  class="navbar-toggle collapse in " style="margin:0;padding:0;z-index: 99999999;" data-toggle="collapse" id="menu-toggle-2"> <span class="fas2 fas fa-angle-double-left"  aria-hidden="true"></span>  
                  </button>
               </li>
            </ul>
         </div>
            
         
        
      </nav>
          
          <div class="container-fluid xyz">
             <div class="row">
                <div class="col-lg-12" style="margin-top:0px" >
                   <router-outlet></router-outlet>
                </div>
             </div>
          </div>
       </div>
    </div>
    
 
 </body>
 
 