 
.nav-pills > li > a {
    border-radius: 0;
 }
 
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
 }
 
 #wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
 }
 
 #sidebar-wrapper {
    z-index: 100000000;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    bottom: 0;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: -230px;
    overflow: hidden;
    background: #ae2424;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }
 
 #wrapper.toggled #sidebar-wrapper {
    width: 250px;  
 }
 
 #page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
 }
 
 .xyz {
    min-width: 360px;
 }
 
 #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
 }
 
 .fixed-brand {
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 
 .sidebar-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 260px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 5px;
    
    
 }
 


 .sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
    margin-top: 10px;
    margin-left: -10px;

 }
 
 .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 240, 0.829);
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
 }
 
 .myGlyph{
   color:rgb(255, 255, 255);
   
 }

 .sidebar-nav li a:hover{
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.055);
    margin-right: 10px;
 }
 
 .isActive{
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.178);
    border-radius: 40px;
    margin-right: 10px;
 }

 .sidebar-nav li a:hover .myGlyph{
   color:rgb(255, 255, 255);
 }
 
 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
    text-decoration: none;
    
 }
 
 .sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 40px;
 }
 
 .sidebar-nav > .sidebar-brand a {
   color: #ae2424;
   background: none;
   
 }
 
 .sidebar-nav > .sidebar-brand a:hover {
    color: #ae2424;
    background: none;
    
 }
 
 .no-margin {
    margin: 0;
 }
 
 @media (min-width: 768px) {
    #wrapper {
       padding-left: 250px;
    }
    .fixed-brand {
       width: 250px;
    }
    #wrapper.toggled {
       padding-left: 0;
    }
    #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
       width: 65px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
       width: 250px;
    }
    #page-content-wrapper {
       padding: 0px;
       position: relative;
       width: auto;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
    }
    #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
       padding-right: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
       position: relative;
       margin-right: 0;
       margin-left: -200px;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
       width: auto;
    }
 }
 
 a{
     font-size: 15px;
 }


 .navbar-toggle {
   position: relative;
   float: left;
   padding: 9px 10px;
   margin-top: 8px;
   margin-right: 15px;
   margin-bottom: 8px;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 4px;
}

@media screen and (min-width: 768px) {
   #mobile{
      visibility: hidden;
   }
   
   #desktop{
      visibility: visible;
   }
 }

 @media screen and (max-width: 767px) {
   #mobile{
      visibility: visible;
   }
   #desktop{
      visibility: hidden;
   }
 }

 #menu-toggle:focus , #menu-toggle-2:focus{
    border:none;
    outline: none;
 }

 .mainHeading{
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   letter-spacing: 0.2ch;
 }

 