
 
 
    
    <div id="wrapper">
       
       <!-- Sidebar -->
       <div id="sidebar-wrapper" style="overflow-x: hidden;">
          <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="sidebar-brand">
               <a  routerLink=""><span style="margin-left: 25px;">GN</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JAZZ PORTAL</a>
            </li>
            
             <hr style="background-color: rgba(235, 231, 231, 0.233); width: auto;">
             <li>
               <a routerLink="profile" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-user-circle fa-stack-1x myGlyph"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Username</a>
            </li>
            <hr style="background-color: rgba(235, 231, 231, 0.233); width: auto;">
             
             <li>
                <a routerLink="report" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-clipboard fa-stack-1x myGlyph"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Report</a>
             </li>

             <li>
                <a routerLink="affiliate" [routerLinkActive]="['isActive']"> <span class="fa-stack fa-lg pull-left"><i class="fas fa-poll fa-stack-1x myGlyph"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Affiliate Report</a>
             </li>
             <li>
                <a routerLink="blacklist" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-user-alt-slash fa-stack-1x myGlyph"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blacklist</a>
             </li>
             <li>
                <a routerLink="ltv" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-file-excel fa-stack-1x myGlyph"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LTV Report</a>
             </li>
             <li>
                <a routerLink="operatorStats" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-chart-bar fa-stack-1x myGlyph"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Operator Stats</a>
             </li>
             <li>
                <a routerLink="unsub" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fas fa-user-times fa-stack-1x myGlyph"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unsubscribe</a>
             </li>
             <li>
                <a routerLink="msisdnlogs" [routerLinkActive]="['isActive']"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x myGlyph"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MSISDN Logs</a>
             </li>
             <hr style="background-color: rgba(235, 231, 231, 0.233); width: auto;">
             <li>
                <a routerLink="" ><span class="fa-stack fa-lg pull-left"><i class="fa fa-power-off fa-stack-1x myGlyph"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout</a>
             </li>
          </ul>
       </div>
       <!-- sidebar-wrapper -->


       <!-- Page Content -->
       
       <div id="page-content-wrapper">
         <nav class="navbar no-margin" >

            <!-- Toogle Icon Mobile View -->
            <div id="mobile" style="margin-top:-10px;margin-left:-16px;">
               <button type="button" style="z-index: 99999999999;" class="navbar-toggle collapsed" style="margin-top: -15px;margin-left: -12px;" data-toggle="collapse" id="menu-toggle">
                  <span class="fas1 fas fa-bars" aria-hidden="true"></span><span style="margin-left: 10px;" aria-hidden="true"></span>
               </button>
            </div>

            <div id="desktop" style="position: absolute;margin-top:45px;z-index: 99999999;" >
               <button type="button" style="z-index: 99999999999;" class="navbar-toggle collapsed" style="margin-top: -15px;" data-toggle="collapse" id="menu-toggle-2">
                  <span class="fas2 fas fa-angle-double-left" aria-hidden="true"></span><span style="margin-left: 10px;" aria-hidden="true"></span>
               </button>
            </div>
            
        
      </nav>
          
          <div class="xyz" style="margin-top: -24px;">
             
                  <router-outlet></router-outlet>
                  
          </div>
       </div>
    </div>
    
 
 
 
 