 

.nav-pills > li > a {
    border-radius: 0;
 }
 
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
 }
 
 #wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
 }
 
 #sidebar-wrapper {
    z-index: 100000000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: -250px;
    overflow: hidden;
    background: #e4150d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }
 
 #wrapper.toggled #sidebar-wrapper {
    width: 250px;
    
 }
 
 #page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
 }
 
 .xyz {
    min-width: 360px;
 }
 
 #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
 }
 
 .fixed-brand {
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

 }
 /* Sidebar Styles */
 
 .sidebar-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 260px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 5px;
    
    
 }
 
 .sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
    margin-top: 10px;

 }
 
 .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 240, 0.829);
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
 }
 
 .myGlyph{
   color:rgb(255, 255, 255);
   
 }

 

 .sidebar-nav li a:hover{
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.178);
    /* border-left: #ffffff 3px solid; */
    border-radius: 40px;
    margin-right: 10px;
 }
 
 .isActive{
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.178);
    /* border-left: #ffffff 3px solid; */
    border-radius: 40px;
    margin-right: 10px;
 }

 .sidebar-nav li a:hover .myGlyph{
   color:rgb(255, 255, 255);
 }
 
 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
    text-decoration: none;
    
 }
 
 .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
 }
 
 .sidebar-nav > .sidebar-brand a {
   color: #fff;
   background: none;
 }
 
 .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
 }
 
 .no-margin {
    margin: 0;
 }
 
 @media (min-width: 768px) {
    #wrapper {
       padding-left: 250px;
    }
    .fixed-brand {
       width: 250px;
    }
    #wrapper.toggled {
       padding-left: 0;
    }
    #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
       width: 65px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
       width: 250px;
    }
    #page-content-wrapper {
       padding: 0px;
       position: relative;
       width: auto;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
    }
    #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
       padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
       position: relative;
       margin-right: 0;
       margin-left: -200px;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
       width: auto;
    }
 }
 
 a{
     font-size: 15px;
 }

 