<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 </head>
 
 <body>
    <nav class="navbar navbar-default no-margin">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header fixed-brand">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
 <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
 </button>
          <a class="navbar-brand" href="#">Game Now</a>
       </div>
       <!-- navbar-header-->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
             <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button>
             </li>
          </ul>
       </div>
       <!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper">
       
       <!-- Sidebar -->
       <div id="sidebar-wrapper" style="overflow-x: hidden;">
          <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
             <li>
                <a routerLink="report"><span class="fa-stack fa-lg pull-left"><i class="fas fa-clipboard fa-stack-1x "></i></span>Report</a>
             </li>
             <li>
                <a routerLink="affiliate"> <span class="fa-stack fa-lg pull-left"><i class="fas fa-poll fa-stack-1x "></i></span>Affiliate Report</a>
             </li>
             <li>
                <a routerLink="blacklist"><span class="fa-stack fa-lg pull-left"><i class="fas fa-user-alt-slash fa-stack-1x "></i></span>Blacklist</a>
             </li>
             <li>
                <a routerLink="ltv"><span class="fa-stack fa-lg pull-left"><i class="fas fa-file-invoice-dollar fa-stack-1x "></i></span>LTV Report</a>
             </li>
             <li>
                <a routerLink="operatorStats"><span class="fa-stack fa-lg pull-left"><i class="fas fa-chart-bar fa-stack-1x "></i></span>Operator Stats</a>
             </li>
             <li>
                <a routerLink="unsub"><span class="fa-stack fa-lg pull-left"><i class="fas fa-user-times fa-stack-1x "></i></span>Unsubscribe</a>
             </li>
             <li>
                <a routerLink="msisdnlogs"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>MSISDN Logs</a>
             </li>
             <li>
                <a routerLink=""><span class="fa-stack fa-lg pull-left"><i class="fa fa-power-off fa-stack-1x "></i></span>Logout</a>
             </li>
          </ul>
       </div>
       <!-- /#sidebar-wrapper -->
       <!-- Page Content -->
       <div id="page-content-wrapper">
          <div class="container-fluid xyz">
             <div class="row">
                <div class="col-lg-12">
                   <router-outlet></router-outlet>
                </div>
             </div>
          </div>
       </div>
    </div>
    
 
 </body>
 
 