

.mainHeading{
    
}

.subHeading{
    
}

.bs-datepicker-head {
    background-color: #8a252c !important;
    border-radius: 3px 3px 3px 3px;
}

.bs-datepicker-body table td.week span {
    color: #ae2424 !important;
    
}

.bs-datepicker-body {
    padding: 5px !important;
    margin-top: 10px;
    /* border: 1px solid #8a252c; */
    border:none;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}
   
.bs-datepicker{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.089) ;
    /* box-shadow: none; */
    /* border: 1px solid #8a252c; */
    border-radius: 3px;  

}

.bs-datepicker-body table td span.selected, .bs-datepicker-body table td.selected span {
    color: rgb(255, 254, 254);
    background-color: #8a252c !important;
}

.bs-datepicker-head button.next, .bs-datepicker-head button.previous {
    border-radius: 3px;
    width: 30px;
    height: 30px;
}

.theme-green .btn-today-wrapper .btn-success, .theme-green .btn-clear-wrapper .btn-success {
    background-color: #8a252c;
    border-color: #8a252c;
}

.theme-green .btn-today-wrapper .btn-success:hover, .theme-green .btn-clear-wrapper .btn-success:hover {
    background-color: #8a252c;
    border-color: #8a252c;
}


  html {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    
}

.message{
    color:#585858;
    font-size: 14px;
  }

  .add_btn  ,.add_btn:hover, .add_btn:focus{
    background-color: #8a252c;
    color:white;
    border-radius: 4px;
    cursor: pointer;
    border:none;
    padding: 6px 10px;
    font-weight: normal;
    outline: none !important;
    letter-spacing: 0.2ch;
    font-size: 14px;
  }
  
  .add_col{
        justify-content: right;
        text-align: right;
  }
  
  @media screen and (max-width: 767px) {
    .add_btn{
      
     
    }
  
    .add_col{
      
      margin-top: 0px;
      justify-content: center;
      text-align: center;
      
    }
  }

  .mainHeading{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    letter-spacing: 0.2ch;
  }


  .error{
    color:#8a252c;
    font-size: 11px;
  }

 