
/* You can add global styles to this file, and also import other style files */


/* .datepicker{
    border-radius: 40px;
    outline: none;
    border-color:#e4150d;
    padding: 25px;
    font-size: larger;
}

.datepicker:hover{
    border-color:#000000c9;
}

.btn , .btn:focus , .btn:active{
    border-radius: 40px;
    border-color:#d9534f;
    background-color:#d9534f;
    padding: 12px 30px;
    color: ivory;
    font-family: 'Raleway', sans-serif;font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing:  0.09em;
    outline: 0 !important;
}

.btn:hover {
    border-color:#000000c9;
    background-color:#000000c9;
    color: ivory;
    
    
} */


/* horizontal rule/line styling */
/* hr{ */
    /* border: 0;
    height: 1px;
    background-color: rgba(22, 21, 21, 0.233); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.082)); */
    /* width: 25%; */
/* } */



/* Heading Css */
/* h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    letter-spacing:  0.06em;
    color: rgba(12, 12, 12, 0.719);
} */


/* Datepicker style */
/* .datepicker{
    border-radius: 40px;
    background-color: transparent;
    outline: none;
    border:1px solid #e4150d;
    
    padding: 20px;
    font-size: larger;
    box-shadow: none;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
     
} */

/* @media screen and (max-width: 565px) {
    .datepicker{
        background-color: teal;
        margin-left: 0;
    }
} */


/* .datepicker:hover{
    border-color:#e4150d;
    box-shadow: none;  
}

.datepicker:hover .datepicker::placeholder{
    color: darkgoldenrod;
}

.datepicker:focus{
    box-shadow: none; 
    border-color:#ff0800;  
} */


/* .datepicker:not(:focus){
    box-shadow: none;   
}


.datepicker::placeholder{
    color:#d9544f94;
    font-size: 15px;
    
} */

/* .theme-red .bs-datepicker-head {
    background-color: #e4150d;
    border-radius: 30px;
}

.bs-datepicker-body {
    padding: 10px;
    border-radius: 0 0 3px 3px;
    min-height: 232px;
    min-width: 278px;
    border: none;
} */
   
/* .bs-datepicker{
    margin-top: 15px;
    border-radius: 15px;
    /* background-color: rgb(0, 0, 0); */
    
/* } */

/* label{
    color:rgba(0, 0, 0, 0.699);
    font-family: 'Roboto', sans-serif;
    letter-spacing:  0.03em;
}  */


/* Button Style */


/* .searchRecordBtn , .searchRecordBtn:focus , .searchRecordBtn:active{
    border-radius: 40px;
    border-color:transparent;
    background-color:#e4150d;
    padding: 7px 14px;
    color: ivory;
    font-weight: medium;
    letter-spacing:  0.09em;
    outline: 0 !important;
} */

/* .searchRecordBtn:hover {
    background: rgb(8, 8, 8);
    color: ivory;
    
    
} */


/* body{
    background-color: rgb(255, 255, 255);
} */


.mainHeading{
    
}

.subHeading{
    
}

.bs-datepicker-head {
    background-color: #8a252c !important;
    border-radius: 3px 3px 3px 3px;
}

.bs-datepicker-body table td.week span {
    color: #ae2424 !important;
    
}

.bs-datepicker-body {
    padding: 5px !important;
    margin-top: 10px;
    /* border: 1px solid #8a252c; */
    border:none;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}
   
.bs-datepicker{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.089) ;
    /* box-shadow: none; */
    /* border: 1px solid #8a252c; */
    border-radius: 3px;  

}

.bs-datepicker-body table td span.selected, .bs-datepicker-body table td.selected span {
    color: rgb(255, 254, 254);
    background-color: #8a252c !important;
}

.bs-datepicker-head button.next, .bs-datepicker-head button.previous {
    border-radius: 3px;
    width: 30px;
    height: 30px;
}

.theme-green .btn-today-wrapper .btn-success, .theme-green .btn-clear-wrapper .btn-success {
    background-color: #8a252c;
    border-color: #8a252c;
}

.theme-green .btn-today-wrapper .btn-success:hover, .theme-green .btn-clear-wrapper .btn-success:hover {
    background-color: #8a252c;
    border-color: #8a252c;
}


  html {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    
}

.message{
    color:#585858;
    font-size: 14px;
  }

  .add_btn  ,.add_btn:hover, .add_btn:focus{
    background-color: #8a252c;
    color:white;
    border-radius: 4px;
    cursor: pointer;
    border:none;
    padding: 8px 12px;
    font-weight: normal;
    outline: none !important;
    letter-spacing: 0.2ch;
    font-size: 15px;
  }
  
  .add_row{
    position: absolute;
    margin-top: -55px;
    right:20px
  }
  
  @media screen and (max-width: 767px) {
    .add_btn{
      
     
    }
  
    .add_row{
      position: relative;
      margin-top: 0px;
      justify-content: center;
      text-align: center;
      right:0px
    }
  }

  .mainHeading{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    letter-spacing: 0.2ch;
  }


  .error{
    color:#8a252c;
    font-size: 12px;
  }