<div class="container-fluid">
    
  <!-- Main Heading (Start) -->
  <div class="row" >
      <div class="col text-center">
          <p class="mainHeading">BLACKLIST</p> 
      </div>
  </div>
  <!-- Main Heading (End) -->
  
  <div class="row">
    <div class="col add_col" > 
      <button  class="add_btn" routerLink="add"><i class="fas fa-plus"></i>&nbsp;&nbsp;<span class="vertical-line"></span>BLACKLIST MSISDN</button>
    </div>
  </div>

  <div class="row" style="margin-top: 50px;">
    <div class="col message text-center">
      <div class="d-inline">
        <p class="d-inline">Search Period :</p>
      </div>
      <div class="d-inline ml-3">
        <input (click)="onClick1Week()" style="height: 10px;" type="radio"  name="radio" >
          <p style="font-size: 12px;" class="d-inline">1 Week</p>
      </div>
      <div class="d-inline ml-3">
        <input (click)="onClick1Month()" style="height: 10px;" type="radio"  name="radio" >
          <p style="font-size: 12px;" class="d-inline">1 Month</p>
      </div>
      
    </div>
  </div>


  <div class="row" style="margin-top: 40px;justify-content: center;">
      <div class="col-8 col-md-3 col-lg-2 form-group text-center" >
        <input 
               id="fromDate"
               autocomplete="off"
               #fromDate 
               type="text"
               placeholder="dd/mm/yyyy"
               [(ngModel)]="StartingDate"
               class="datepicker form-control"
               bsDatepicker
               [bsConfig]="{dateInputFormat: 'DD/MM/YYYY' , isAnimated: true}"
               [maxDate]="maxDate"
               (click)=" onClick_From_DatePicker()"
               
        />
        <label>Select From Date</label>
          

      </div>

      

      <div class="col-8 col-md-3 col-lg-2 form-group text-center"  >
        <input  
                 id="toDate"
                 autocomplete="off"
                 #toDate
                 type="text"
                 placeholder="dd/mm/yyyy"
                 [(ngModel)]="EndingDate"
                 class="datepicker form-control"
                 bsDatepicker
                 [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' , isAnimated: true}"
                 [maxDate]="maxDate"
                 (click)=" onClick_To_DatePicker()"
                 
                 
          /> 

          <label>Select To Date</label>

          

      </div>
      
      <div class="col-8 col-md-3 col-lg-2 text-center form-group" >
        <button class="search_btn form-control" (click)="onClickCheckRecord(fromDate.value,toDate.value)">Search Records</button>
      </div>
      
        
  </div>
   
</div>

<!-- <div class="container-fluid" style="margin-top: 30px;overflow-x: auto;">
  <ng-container *ngIf="oneDay_30Day_Data == '';else elseData1" class="row">
    <div class="col text-center">
      <p class="error">Total Unsubscribed</p>
      <p (click)="onClickLastDay()" class="error" style="text-decoration: underline;cursor: pointer;">Yesterday</p>
      <p (click)="onClickLastMonth()" class="error" style="text-decoration: underline;cursor: pointer;">Last 30 Days</p>
    </div>
    <hr width="50%">
  </ng-container>
  <ng-template #elseData1>
    <div class="col text-center">
      <div class="col text-center">
        <p class="error">Total Number of MSISDN Unsubscribed are :</p>
        <p>&nbsp;</p>
        <p class="error">{{oneDay_30Day_Data}}</p>
      </div>
      <hr width="50%">
    </div>
  </ng-template>
</div> -->


<div  class="container-fluid" style="margin-top: 30px;overflow-x: auto;" >
  <ng-container  *ngIf="isEmpty() == true; else elseData" class="row" >
    <div class="col text-center">
      <p class="error">{{msg}}</p>
    </div>
  </ng-container>

  
  <ng-template  #elseData class="table-responsive">
  
      <table class="table table-striped table-bordered" style="overflow-x: scroll;">
        <thead>
          <tr>
            <th>MSISDN</th>
            <th>Blacklisted Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor="let item of data.items">
            <td>{{item.msisdn}}</td>
            <td>{{item.date | date:'dd/MM/YYYY'}}</td>
            <td style="cursor: pointer;text-decoration: underline;">Remove</td>
          </tr> 
        </tbody>
      </table>
      
  </ng-template>
  

  
</div>  

      <ng-container *ngIf="isEmpty() == false;">
        <div class="mt-4" >
          <pagination class="my-pagination justify-content-center" [maxSize]="5"  [totalItems]="data['total items']" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event,fromDate.value,toDate.value)">
          </pagination>
        </div>
      </ng-container>


         


